<section data-ng-controller="PeopleController">
    <div class="page-header">
        <h1>New Person</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="row">
                    <div data-ng-show="error" class="text-danger pull-right">
                        <strong data-ng-bind="error"></strong>
                    </div>
                    <div data-ng-hide="error" class="text-info pull-right">
                        <strong>Please complete the entire form</strong>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" style="margin: 0;">
                            <label class="control-label" for="fname">First Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="fname" id="fname" class="form-control" placeholder="First Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" style="margin: 0;">
                            <label class="control-label" for="mname">Middle Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="mname" id="mname" class="form-control" placeholder="Middle Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" style="margin: 0;">
                            <label class="control-label" for="lname">Last Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="lname" id="lname" class="form-control" placeholder="Last Name" required>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" style="margin: 0;">
                            <label class="control-label" for="pob">Place of Birth</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pob" id="pob" class="form-control" placeholder="Place of Birth" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" style="margin: 0;">
                            <label class="control-label" for="dob">Date of Birth</label>
                            <div class="controls">
                                <input type="text" data-ng-model="dob" id="dob" class="form-control" placeholder="Date of Birth" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" style="margin: 0;">
                            <label class="control-label" for="dod">Date of Death</label>
                            <div class="controls">
                                <input type="text" data-ng-model="dod" id="dod" class="form-control" placeholder="Date of Death" required>
                            </div>
                        </div>
                    </div>
                </div>

                <hr></hr>
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="publishedWorks">Published Works</label>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="publishedWorks[0]" id="publishedWorks-1" class="form-control" placeholder="Published Work">
                                </div>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="publishedWorks[1]" id="publishedWorks-2" class="form-control" placeholder="Published Work">
                                </div>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="publishedWorks[2]" id="publishedWorks-3" class="form-control" placeholder="Published Work">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="wellKnownMilestones">Well-known Milestones</label>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="wellKnownMilestones[0]" id="wellKnownMilestones-1" class="form-control" placeholder="Well-known Milestone">
                                </div>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="wellKnownMilestones[1]" id="wellKnownMilestones-2" class="form-control" placeholder="Well-known Milestone">
                                </div>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="wellKnownMilestones[2]" id="wellKnownMilestones-3" class="form-control" placeholder="Well-known Milestone">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="creativeMovementsFounded">Creative Movements Founded</label>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="creativeMovementsFounded[0]" id="creativeMovementsFounded-1" class="form-control" placeholder="Creative Movement Founded">
                                </div>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="creativeMovementsFounded[1]" id="creativeMovementsFounded-2" class="form-control" placeholder="Creative Movement Founded">
                                </div>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="creativeMovementsFounded[2]" id="creativeMovementsFounded-3" class="form-control" placeholder="Creative Movement Founded">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="acclaimedProfessions">Acclaimed Professions</label>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="acclaimedProfessions[0]" id="acclaimedProfessions-1" class="form-control" placeholder="Acclaimed Profession">
                                </div>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="acclaimedProfessions[1]" id="acclaimedProfessions-2" class="form-control" placeholder="Acclaimed Profession">
                                </div>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="acclaimedProfessions[2]" id="acclaimedProfessions-3" class="form-control" placeholder="Acclaimed Profession">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="notableWorks[0]">Other Notable Works</label>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="notableWorks[0]" id="notableWorks-1" class="form-control" placeholder="Notable Work">
                                </div>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="notableWorks[1]" id="notableWorks-2" class="form-control" placeholder="Notable Work">
                                </div>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="notableWorks[2]" id="notableWorks-3" class="form-control" placeholder="Notable Work">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="locationsLived[0]">Places of Residence</label>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="locationsLived[0]" id="locationsLived-1" class="form-control" placeholder="Place of Residence">
                                </div>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="locationsLived[1]" id="locationsLived-2" class="form-control" placeholder="Place of Residence">
                                </div>
                                <div class="controls" style="margin-bottom: 10px;">
                                    <input type="text" data-ng-model="locationsLived[2]" id="locationsLived-3" class="form-control" placeholder="Place of Residence">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group pull-right" style="padding: 10px;" >
                    <input type="submit" value="Submit" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>